# KNN for Titanic: Planning

Plan:
- use sklearn
    - use built in sklearn functionality for everything possible, including preprocessing
- use few features:
    - sex
    - age
    - pclass?
    - fare?
- start by exploring all data
    - df.head()
    - choose relevant features and explain
- preprocess data
    - fill in missing values
    - one-hot encode categorical
    - normalize numerical
        - don't just use sklearn's normalize -- write own
- use cross validation to find best number of neighbors?
    - outside scope of workshop?
    - won't work?
        - try it on own first

In [33]:
# imports
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [34]:
# load dataset and visualize first few entries
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Here's the data! Let's select relevant features. 

Which features do you think will be good predictors of survival?

Let's consider the phrase 'women and children first'. Let's also consider location in the ship, determined by passenger class. We'll choose:
- Pclass
- Sex
- Age

We also need to save the 'Survived' column of the data. This is what we are trying to predict! These are our labels.

In [35]:
# choose relevant features
pclass = data.Pclass.values
sex = data.Sex.values
age = data.Age.values

# save labels
y = data.Survived.values

# save number of data points
m = y.size

print('\nFeatures:\n', np.array([pclass[:5], sex[:5], age[:5]]).T)
print('\nLabels:\n', y[:5].reshape(-1, 1))

Features:
 [[3 'male' 22.0]
 [1 'female' 38.0]
 [3 'female' 26.0]
 [1 'female' 35.0]
 [3 'male' 35.0]]

Labels:
 [[0]
 [1]
 [1]
 [1]
 [0]]

Before using k-nearest neighbors, we need to make sure the data is in the right form. Is there a problem with our current setup?

There is a problem! Well, multiple problems, actually. 

First off, Sex is not a number. K-nearest neighbors can only learn from numerical features. Let's fix that by one-hot encoding.

In [36]:
# one-hot encode Sex feature
sex = np.asarray([1 if sex[i] == 'male' else 0 for i in range(m)])

Ok, now our data is all numerical, and k-nearest neighbors can learn from it.

However, there's still a problem...

Look at the range of values for each feature. Are they all on the same scale?

They're not! Age has a much larger range of values than either sex or class.

This is a problem! Age differences will be considered much more significant than differences in sex or class. This does not make sense for our problem.

Let's fix this by scaling and shifting our feature values.

In [37]:
np.mean(age)

nan

Oh no! Looks like something is strange...

In [38]:
age

array([ 22.  ,  38.  ,  26.  ,  35.  ,  35.  ,    nan,  54.  ,   2.  ,
        27.  ,  14.  ,   4.  ,  58.  ,  20.  ,  39.  ,  14.  ,  55.  ,
         2.  ,    nan,  31.  ,    nan,  35.  ,  34.  ,  15.  ,  28.  ,
         8.  ,  38.  ,    nan,  19.  ,    nan,    nan,  40.  ,    nan,
          nan,  66.  ,  28.  ,  42.  ,    nan,  21.  ,  18.  ,  14.  ,
        40.  ,  27.  ,    nan,   3.  ,  19.  ,    nan,    nan,    nan,
          nan,  18.  ,   7.  ,  21.  ,  49.  ,  29.  ,  65.  ,    nan,
        21.  ,  28.5 ,   5.  ,  11.  ,  22.  ,  38.  ,  45.  ,   4.  ,
          nan,    nan,  29.  ,  19.  ,  17.  ,  26.  ,  32.  ,  16.  ,
        21.  ,  26.  ,  32.  ,  25.  ,    nan,    nan,   0.83,  30.  ,
        22.  ,  29.  ,    nan,  28.  ,  17.  ,  33.  ,  16.  ,    nan,
        23.  ,  24.  ,  29.  ,  20.  ,  46.  ,  26.  ,  59.  ,    nan,
        71.  ,  23.  ,  34.  ,  34.  ,  28.  ,    nan,  21.  ,  33.  ,
        37.  ,  28.  ,  21.  ,    nan,  38.  ,    nan,  47.  ,  14.5 ,
        22.  ,  20.  ,  17.  ,  21.  ,  70.5 ,  29.  ,  24.  ,   2.  ,
        21.  ,    nan,  32.5 ,  32.5 ,  54.  ,  12.  ,    nan,  24.  ,
          nan,  45.  ,  33.  ,  20.  ,  47.  ,  29.  ,  25.  ,  23.  ,
        19.  ,  37.  ,  16.  ,  24.  ,    nan,  22.  ,  24.  ,  19.  ,
        18.  ,  19.  ,  27.  ,   9.  ,  36.5 ,  42.  ,  51.  ,  22.  ,
        55.5 ,  40.5 ,    nan,  51.  ,  16.  ,  30.  ,    nan,    nan,
        44.  ,  40.  ,  26.  ,  17.  ,   1.  ,   9.  ,    nan,  45.  ,
          nan,  28.  ,  61.  ,   4.  ,   1.  ,  21.  ,  56.  ,  18.  ,
          nan,  50.  ,  30.  ,  36.  ,    nan,    nan,   9.  ,   1.  ,
         4.  ,    nan,    nan,  45.  ,  40.  ,  36.  ,  32.  ,  19.  ,
        19.  ,   3.  ,  44.  ,  58.  ,    nan,  42.  ,    nan,  24.  ,
        28.  ,    nan,  34.  ,  45.5 ,  18.  ,   2.  ,  32.  ,  26.  ,
        16.  ,  40.  ,  24.  ,  35.  ,  22.  ,  30.  ,    nan,  31.  ,
        27.  ,  42.  ,  32.  ,  30.  ,  16.  ,  27.  ,  51.  ,    nan,
        38.  ,  22.  ,  19.  ,  20.5 ,  18.  ,    nan,  35.  ,  29.  ,
        59.  ,   5.  ,  24.  ,    nan,  44.  ,   8.  ,  19.  ,  33.  ,
          nan,    nan,  29.  ,  22.  ,  30.  ,  44.  ,  25.  ,  24.  ,
        37.  ,  54.  ,    nan,  29.  ,  62.  ,  30.  ,  41.  ,  29.  ,
          nan,  30.  ,  35.  ,  50.  ,    nan,   3.  ,  52.  ,  40.  ,
          nan,  36.  ,  16.  ,  25.  ,  58.  ,  35.  ,    nan,  25.  ,
        41.  ,  37.  ,    nan,  63.  ,  45.  ,    nan,   7.  ,  35.  ,
        65.  ,  28.  ,  16.  ,  19.  ,    nan,  33.  ,  30.  ,  22.  ,
        42.  ,  22.  ,  26.  ,  19.  ,  36.  ,  24.  ,  24.  ,    nan,
        23.5 ,   2.  ,    nan,  50.  ,    nan,    nan,  19.  ,    nan,
          nan,   0.92,    nan,  17.  ,  30.  ,  30.  ,  24.  ,  18.  ,
        26.  ,  28.  ,  43.  ,  26.  ,  24.  ,  54.  ,  31.  ,  40.  ,
        22.  ,  27.  ,  30.  ,  22.  ,    nan,  36.  ,  61.  ,  36.  ,
        31.  ,  16.  ,    nan,  45.5 ,  38.  ,  16.  ,    nan,    nan,
        29.  ,  41.  ,  45.  ,  45.  ,   2.  ,  24.  ,  28.  ,  25.  ,
        36.  ,  24.  ,  40.  ,    nan,   3.  ,  42.  ,  23.  ,    nan,
        15.  ,  25.  ,    nan,  28.  ,  22.  ,  38.  ,    nan,    nan,
        40.  ,  29.  ,  45.  ,  35.  ,    nan,  30.  ,  60.  ,    nan,
          nan,  24.  ,  25.  ,  18.  ,  19.  ,  22.  ,   3.  ,    nan,
        22.  ,  27.  ,  20.  ,  19.  ,  42.  ,   1.  ,  32.  ,  35.  ,
          nan,  18.  ,   1.  ,  36.  ,    nan,  17.  ,  36.  ,  21.  ,
        28.  ,  23.  ,  24.  ,  22.  ,  31.  ,  46.  ,  23.  ,  28.  ,
        39.  ,  26.  ,  21.  ,  28.  ,  20.  ,  34.  ,  51.  ,   3.  ,
        21.  ,    nan,    nan,    nan,  33.  ,    nan,  44.  ,    nan,
        34.  ,  18.  ,  30.  ,  10.  ,    nan,  21.  ,  29.  ,  28.  ,
        18.  ,    nan,  28.  ,  19.  ,    nan,  32.  ,  28.  ,    nan,
        42.  ,  17.  ,  50.  ,  14.  ,  21.  ,  24.  ,  64.  ,  31.  ,
        45.  ,  20.  ,  25.  ,  28.  ,    nan,   4.  ,  13.  ,  34.  ,
         5.  ,  52.  ,  36.  ,    nan,  30.  ,  49.  ,    nan,  29.  ,
        65.  ,    nan,  50.  ,    nan,  48.  ,  34.  ,  47.  ,  48.  ,
          nan,  38.  ,    nan,  56.  ,    nan,   0.75,    nan,  38.  ,
        33.  ,  23.  ,  22.  ,    nan,  34.  ,  29.  ,  22.  ,   2.  ,
         9.  ,    nan,  50.  ,  63.  ,  25.  ,    nan,  35.  ,  58.  ,
        30.  ,   9.  ,    nan,  21.  ,  55.  ,  71.  ,  21.  ,    nan,
        54.  ,    nan,  25.  ,  24.  ,  17.  ,  21.  ,    nan,  37.  ,
        16.  ,  18.  ,  33.  ,    nan,  28.  ,  26.  ,  29.  ,    nan,
        36.  ,  54.  ,  24.  ,  47.  ,  34.  ,    nan,  36.  ,  32.  ,
        30.  ,  22.  ,    nan,  44.  ,    nan,  40.5 ,  50.  ,    nan,
        39.  ,  23.  ,   2.  ,    nan,  17.  ,    nan,  30.  ,   7.  ,
        45.  ,  30.  ,    nan,  22.  ,  36.  ,   9.  ,  11.  ,  32.  ,
        50.  ,  64.  ,  19.  ,    nan,  33.  ,   8.  ,  17.  ,  27.  ,
          nan,  22.  ,  22.  ,  62.  ,  48.  ,    nan,  39.  ,  36.  ,
          nan,  40.  ,  28.  ,    nan,    nan,  24.  ,  19.  ,  29.  ,
          nan,  32.  ,  62.  ,  53.  ,  36.  ,    nan,  16.  ,  19.  ,
        34.  ,  39.  ,    nan,  32.  ,  25.  ,  39.  ,  54.  ,  36.  ,
          nan,  18.  ,  47.  ,  60.  ,  22.  ,    nan,  35.  ,  52.  ,
        47.  ,    nan,  37.  ,  36.  ,    nan,  49.  ,    nan,  49.  ,
        24.  ,    nan,    nan,  44.  ,  35.  ,  36.  ,  30.  ,  27.  ,
        22.  ,  40.  ,  39.  ,    nan,    nan,    nan,  35.  ,  24.  ,
        34.  ,  26.  ,   4.  ,  26.  ,  27.  ,  42.  ,  20.  ,  21.  ,
        21.  ,  61.  ,  57.  ,  21.  ,  26.  ,    nan,  80.  ,  51.  ,
        32.  ,    nan,   9.  ,  28.  ,  32.  ,  31.  ,  41.  ,    nan,
        20.  ,  24.  ,   2.  ,    nan,   0.75,  48.  ,  19.  ,  56.  ,
          nan,  23.  ,    nan,  18.  ,  21.  ,    nan,  18.  ,  24.  ,
          nan,  32.  ,  23.  ,  58.  ,  50.  ,  40.  ,  47.  ,  36.  ,
        20.  ,  32.  ,  25.  ,    nan,  43.  ,    nan,  40.  ,  31.  ,
        70.  ,  31.  ,    nan,  18.  ,  24.5 ,  18.  ,  43.  ,  36.  ,
          nan,  27.  ,  20.  ,  14.  ,  60.  ,  25.  ,  14.  ,  19.  ,
        18.  ,  15.  ,  31.  ,   4.  ,    nan,  25.  ,  60.  ,  52.  ,
        44.  ,    nan,  49.  ,  42.  ,  18.  ,  35.  ,  18.  ,  25.  ,
        26.  ,  39.  ,  45.  ,  42.  ,  22.  ,    nan,  24.  ,    nan,
        48.  ,  29.  ,  52.  ,  19.  ,  38.  ,  27.  ,    nan,  33.  ,
         6.  ,  17.  ,  34.  ,  50.  ,  27.  ,  20.  ,  30.  ,    nan,
        25.  ,  25.  ,  29.  ,  11.  ,    nan,  23.  ,  23.  ,  28.5 ,
        48.  ,  35.  ,    nan,    nan,    nan,  36.  ,  21.  ,  24.  ,
        31.  ,  70.  ,  16.  ,  30.  ,  19.  ,  31.  ,   4.  ,   6.  ,
        33.  ,  23.  ,  48.  ,   0.67,  28.  ,  18.  ,  34.  ,  33.  ,
          nan,  41.  ,  20.  ,  36.  ,  16.  ,  51.  ,    nan,  30.5 ,
          nan,  32.  ,  24.  ,  48.  ,  57.  ,    nan,  54.  ,  18.  ,
          nan,   5.  ,    nan,  43.  ,  13.  ,  17.  ,  29.  ,    nan,
        25.  ,  25.  ,  18.  ,   8.  ,   1.  ,  46.  ,    nan,  16.  ,
          nan,    nan,  25.  ,  39.  ,  49.  ,  31.  ,  30.  ,  30.  ,
        34.  ,  31.  ,  11.  ,   0.42,  27.  ,  31.  ,  39.  ,  18.  ,
        39.  ,  33.  ,  26.  ,  39.  ,  35.  ,   6.  ,  30.5 ,    nan,
        23.  ,  31.  ,  43.  ,  10.  ,  52.  ,  27.  ,  38.  ,  27.  ,
         2.  ,    nan,    nan,   1.  ,    nan,  62.  ,  15.  ,   0.83,
          nan,  23.  ,  18.  ,  39.  ,  21.  ,    nan,  32.  ,    nan,
        20.  ,  16.  ,  30.  ,  34.5 ,  17.  ,  42.  ,    nan,  35.  ,
        28.  ,    nan,   4.  ,  74.  ,   9.  ,  16.  ,  44.  ,  18.  ,
        45.  ,  51.  ,  24.  ,    nan,  41.  ,  21.  ,  48.  ,    nan,
        24.  ,  42.  ,  27.  ,  31.  ,    nan,   4.  ,  26.  ,  47.  ,
        33.  ,  47.  ,  28.  ,  15.  ,  20.  ,  19.  ,    nan,  56.  ,
        25.  ,  33.  ,  22.  ,  28.  ,  25.  ,  39.  ,  27.  ,  19.  ,
          nan,  26.  ,  32.  ])

Looks like we have some missing values in age. Let's fill them in with the mean value.

In [39]:
# fill in missing values in age
num_valid = 0
sum_age = 0

for i in range(m):
    # if element in age is not missing, note as valid
    if not np.isnan(age[i]):
        num_valid += 1
        sum_age += age[i]

# out of valid points, find mean
mean_age = sum_age / num_valid
        

# shift and scale age to range 0 -> 1
age -= np.mean(age) - 1

29.69911764705882